.musicListHorizontal {
    height: fit-content;
    max-width: 74rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.musicCard {
    min-height: 17rem;
    max-height: 17rem;
    min-width: 21rem;
    max-width: 21rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    align-items: end;
    gap: 1rem;
    padding: 1rem 0.8rem;
}

.musicListHorizontal{
    gap: 3rem;
}